# Project-specific
.env
automation_chrome_profile/
screenshots/
*.png

# Chrome/Selenium files - both in scraper and utils
**/AutofillStates/
**/CertificateRevocation/
**/ChromeFeatureState
**/Crowd Deny/
**/Default/
**/DevToolsActivePort
**/FileTypePolicies/
**/First Run
**/FirstPartySetsPreloaded/
**/GrShaderCache/
**/GraphiteDawnCache/
**/Last Version
**/Local State
**/OnDeviceHeadSuggestModel/
**/OptimizationHints/
**/OriginTrials/
**/PKIMetadata/
**/PrivacySandboxAttestationsPreloaded/
**/SSLErrorAssistant/
**/SafetyTips/
**/ShaderCache/
**/Subresource Filter/
**/TpcdMetadata/
**/TrustTokenKeyCommitments/
**/Variations
**/ZxcvbnData/
**/component_crx_cache/
**/optimization_guide_model_store/
**/segmentation_platform/

# Python
__pycache__/
*.py[cod]
*.class
.Python
venv/
*.egg-info/

# OS
.DS_Store
